@import 'colors';

.canvas {
  font: 10px sans-serif;
  background-color: $bgcolor;
  width: 500px;
  height: 500px;
}

.dot {
  fill: $color;
  stroke: #111010;
  stroke-width: 0.3;
}

#webpack-img {
  width: 50px;
}
